* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Satisfy", sans-serif;
}
a {
    text-decoration: none;
    color: white;
}
span {
    color: #ffb03b;
}

#header a {
    text-decoration: none;
}
#header a:hover,
#header a.current {
    color: #ffb03b;
}

#contact {
    color:white;
    text-align: center;
}
#hero {
    color:white;
    text-align: center;
    padding-top: 150px;
}
.btn-yellow {
    padding: 10px 30px;
    color:white;
    border: #ffb03b 2px solid;
    border-radius: 20px;
}
.btn-yellow:hover {
    background-color: #ffb03b;
    color: white;
}
#hero button {
    margin:10px;
}
#about {
    padding-top: 60px;
    background-color: #fffaf3;
}
.img-about {
    width: 100%;
    height: 100%;
}
#why-us {
    padding-top: 60px;
    padding-bottom: 60px;
}
#why-us .box {
    padding: 50px 30px;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
    height: 100%;
    
  }
  #book-a-table {
    padding:60px 0;
    background-color: #fffaf3;
    color:black;
    text-align: center;
}
.black {
    color: black;
}
#menu {
    color:black;
    text-align: center;
}

  
#footer {
    background: #35322d;
    color: #fff;
    font-size: 14px;
    text-align: center;
    padding: 30px 0;
  }
#footer h3 {
    font-size: 36px;
    font-weight: 700;
    color: #ffb03b;
  }
#footer p {
    font-size: 15;
    font-style: italic;
  }
#footer .copyright {
    margin: 0 0 5px 0;
  }

